.navbar-header{
    width: 100vw;
    height: 40px;
    padding: 15px 25 px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(79deg,
    rgb(35, 10, 196) ,rgb(239, 78, 8) , rgb(34, 13, 173));
}

.link{
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

.signup_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.signup_form{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

.signup_form form input{
    padding: 8px;
    border-radius: 5px;
    margin-top: 2px;
    width: 100%;
    border: 1px solid rgb(216, 213, 213);
}

.signup_form form button{
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid rgb(13, 14, 74);
    background-color: rgb(36, 174, 70);
}
.signup_form button{
    background-color: rgb(36, 174, 70);
    color: white;

}

.btn {
text-decoration: none;
}

.btn_input{
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 10px;

    
}

.post_container{
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.post_form{
    width: 50%;
    border: 1px solid gray;
    padding: 20px;
}

.post_form input, .post_form textarea, .post_form button{
    width:100%;
    margin:10px 0px;
    padding: 8px;
}

.post_form .file{
    border: 1px solid gray;
}

.post_form button{
    cursor: pointer;
    background-color: green;
    color: white;
}

.post{
    display: flex;
    border: 2px solid gray;
    margin: 30px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.post img {
    height: 200px;
}

.post_text{
    margin-left: 20px;
}